body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'marugame';
}

@font-face {
    font-family: 'marugame';
    src: url('./font.eot');
    src: url('./font.eot?#iefix') format('embedded-opentype'),
        url('./font.woff') format('woff'), url('./font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.button1{
    margin-right: 5px;
    margin-top: 50px;
}

.link1{
    margin: 20px;
    margin-top: 50px;
}

h1{
    margin-top: 80px;
    color: #000000;
}

h2{
    margin-top: 50px;
    color: #000;
}

p{
    color: #555555;
}

.text {
    margin-top: 50px;
}

.img img {
    width: 60%;
}

.img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: #555555;
    border-bottom: #000 dotted 1px;
    -webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
    transition: .3s;
}

a:hover{
    color: #9f9f9f;
    border-bottom: #9f9f9f dotted 1px;
    -webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.imgbox1{
    margin: 20px;
    margin-top: 50px;
}


.logh1{
    margin-bottom: 80px;
}

#box{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.logimg{
    width: 50%;
    float: left;
}

.logimg img{
    width: 100%;
}

.logtext{
    width: 40%;
    float: right;
    text-align: left;
    padding-left: 10%;
}



@media screen and (max-width: 720px) {
    
    .logh1{
    margin-bottom: 80px;
}



.logimg{
    width: 100%;
    margin: 0 auto;
}



.logtext{
    width: 100%;
    text-align: center;
}
}

.title{
    margin-bottom: 80px;
}


.ex{
    width: 40%;
    border: 1px dotted #000;
    margin-bottom: 50px;
}

.at{
    color: #ef6565;
}

.button{
    margin-bottom: 100px;
}